services:
  nextjs:
    build: .
    container_name: nextjs
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - remnawave-network

networks:
  remnawave-network:
    external: true
